* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('co.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    line-height: 1.6;
}

/* Navigation Bar */
.nav-container {
    display: flex;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    font-family: 'Arial', sans-serif;
}

.nav-container a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 15px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-container a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Header Section */
header {
    text-align: center;
    padding-top: 100px;
}

.contact-info h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}


/* Main Content Section */
main {
    padding: 60px 20px;
    text-align: center;
}

/* Form Section */
.form-section {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.form-section h2 {
    font-size: 2rem;
    color: #0d6efd;
    margin-bottom: 20px;
}

.form-section label {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 5px;
    display: block;
}

.form-section input[type="text"],
.form-section input[type="email"],

.form-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}

.form-section input[type="submit"] {
    padding: 10px 20px;
    background-color: #0d6efd;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-section input[type="submit"]:hover {
    background-color: #084298;
}



